/* button.start {
  background: url(../../public/start.png) no-repeat center;
  background-size: contain;
  position: fixed;
  z-index: 100;
  display: grid;
  place-items: center;

  top: 5%;
  left: 50%;

  transform: translateX(-50%);
  width: 20rem;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;

  &.hidden {
    display: none;
    animation: ease-in-out 3s forwards;
  }
} */

.hidden {
  display: none;
}

.game-logo {
  position: absolute;
  z-index: 100;
  width: 20rem;
  aspect-ratio: 1/1;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button.start {
  background: url(../../public/start.png) no-repeat center;
  background-size: contain;
  position: absolute;
  z-index: 100;

  top: 28rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 25rem;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}

.music-credits {
  padding: 0.25rem 1rem;
  position: fixed;
  bottom: 0.5rem;
}
